<div class="col s12 m6 l6 xl4 hvr-grow" style="padding:30px 30px">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" style="height:250px" src="{{card.img_url}}">
    </div>
    <div class="card-content" style="direction:rtl;text-align:right">
      <span class="card-title activator grey-text text-darken-4">{{card.title}}</span>
      <p><a href="#">קבל הצעה</a></p>
    </div>
    <div class="card-reveal" style="direction:rtl;text-align:right">
      <span class="card-title grey-text text-darken-4">{{card.title}}<i class="material-icons left">close</i></span>
      <p>{{card.text}}</p>
      <p><a href="#">קבל הצעה</a></p>
    </div>
  </div>
</div>
