<nav id="homenav" class="nav-extend">

  <div class="nav-wrapper" style="background-color:#343C49;z-index:99">
    <a href="#" class="brand-logo center">
      <img src="../../assets/logo.png" class="logo-image" />
    </a>

    <div id="nav-mobile" style="position:static" class="fixed-action-btn horizontal right">
      <a class="">
        <i style="color:#DCE3E3;font-size:50px;margin:20px 20px 0 0;cursor:pointer" class="material-icons">apps</i>
      </a>
      <ul style="width:320px">
        <li><a scrollTo href="#clients" class="btn-floating btn-large tooltipped" style="background-color:#DCE3E3" data-position="bottom" data-delay="5" data-tooltip="תיק עבודות"><i style="color:#343C49" class="material-icons">work</i></a></li>
        <li><a scrollTo href="#aboutus" class="btn-floating btn-large tooltipped" style="background-color:#DCE3E3" data-position="bottom" data-delay="5" data-tooltip="מי אנחנו"><i style="color:#343C49" class="material-icons">extension</i></a></li>
        <li><a scrollTo href="#contactus" class="btn-floating btn-large tooltipped" style="background-color:#DCE3E3" data-position="bottom" data-delay="5" data-tooltip="צור קשר"><i style="color:#343C49" class="material-icons">email</i></a></li>
      </ul>
    </div>
  </div>

</nav>


